.App {
  text-align: center;
}

nav {
  text-align: center;
  background-color: #efefef;
  padding: 0;
}

nav ul {
  display: flex;
  align-items: center;
  height: 100px;
  list-style: none;
}

nav li {
  display: flex;
  min-width: 100px;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin: 0;
}

nav li:hover {
  background-color: aqua;
}

.active {
  font-weight: bold;
}

.search-results {
  display: flex;
  flex-direction: column;
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 10%;
}

.delete-button {
  color: red;
  cursor: pointer;
}